article {
    width: 300px;
    background-color: aquamarine;
}
strong {
    width: 200px;
    height: 50px;
    background-color: orchid;
    display: inline-block;
}
h1{
    display: ;
}
p{
    display: ;
}