.Schriftart_1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}

.Schriftart_2 {
    font-family: cursive;
    font-size: 150%;
}

.Schriftart_3 {
    font-family: serif;
    font-size: 150%;
}