.Schriftart_1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
}

.Schriftart_2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
}

.Schriftart_3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}