body {
    background-color: aqua;
}
#Hauptüberschrift {
    background-color: beige;
}
#Absatz1 {
    background-color: chartreuse;
}
#Absatz2 {
    background-color: darkorange;
}
#Absatz3 {
    background-color: darkslateblue;
}