body {
    display: flex;
}
#FirstDiv {
    border: solid 1px black;
    padding: 10px;
    background-color: aqua;
}
#SecondDiv {
    border: solid 1px black;
    padding: 10px;
    background-color: blue;
}
#ThirdDiv {
    border: solid 1px black;
    padding: 10px;
    background-color: brown;
}
/*
Alternativ: umwandlung von blok-element zu inline-element
div {
    display: inline 
}
*/