#überschrift {
    width: 200px;
    min-height: 100px;
    background-color: turquoise;
}
#Absatz1 {
    width: 400px;
    min-height: 50px;
    background-color: yellowgreen;
}
#Absatz2 {
    width: 50px;
    min-height: 300px;
    background-color: blue;
    color: cornsilk;
}