header {
    background-color: palegreen;
    width: 590px;
    height: 150px;
    position: absolute;
    margin: none;
    padding: none;
    top: 50px;
    left: 200px;
    border: solid 5px;
}

.Bild {

    float: left;
}
article {
    background-color: red;
    width: 300px;
    position: absolute;
    top: 220px;
    left: 200px;
}
aside {
    background-color: springgreen;
    width: 300px;
    position: absolute;
    top: 220px;
    left: 500px;
}