html {
    height:100%;
}
/*  Standard-Gradient (von oben nach unten)
body {
    background-image: linear-gradient(aqua,aquamarine);
}
*/
/*
body {
    background-image: linear-gradient(60deg, darkblue, gold, firebrick, lawngreen, indigo);
}
*/

body {
    background-image: radial-gradient(circle closest-side at 25% 40%, darkblue 10%, gold 50%, firebrick 90%);
}