* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header, nav, article, aside {
    width: 100%;
}
header {
    padding: 25px;
    background-color: turquoise;
}
nav {
    padding: 25px;
    background-color: blueviolet;
}
article {
    padding: 25px;
    background-color: aquamarine;
}
aside {
    padding: 25px;
    background-color: orchid;
}
@media only screen and (min-width: 768px) {
    nav {
        width: 25%;
        float: left;
    }
    article {
        width: 50%;
        float: left;
    }
    aside {
        width: 25%;
        float: left;
    }
    #Container {
        width: 70%;
        margin: auto;
    }
}